td,th {
  border: 1px solid black;
  height: 1.25em;
  width: 1.25em;
}
td {
  background-color: gray;
}
img {
  position: absolute;
  top: 161px;
  left: 165px;
  opacity: 0.75;
}
.hidden {
  display: none !important;
}
.on {
  background-color: black;
}
.off {
  background-color: white;
}
.highlight {
  background-color: black;
  color: white;
}
.ch {
  height: 150px;
}
.rh {
  width: 150px;
}
.slidecontainer {
  display: inline-flex;
  padding: 2px;
  vertical-align: middle;
  width: 50%;
}
.slider {
  border: 1px solid gray;
  opacity: 0.75;
  transition: opacity .2s;
  width: 90%;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  background: gray;
  cursor: ew-resize;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: gray;
  cursor: ew-resize;
}
